<form method="post" action="{{ path('Pack_delete', {'id': Pack.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ Pack.id) }}">
    <button class="btn">Delete</button>
</form>
