{% extends 'base.html.twig' %}

{% block title %}Edit Pack{% endblock %}

{% block body %}
    <h1>Edit Pack</h1>

    {{ include('Pack/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('Pack_index') }}">back to list</a>

    {{ include('Pack/_delete_form.html.twig') }}
{% endblock %}
