{% extends 'baseBack.html.twig' %}

{% block title %}Fournisseurs/stocks Statistics{% endblock %}
{% set b=0 %}
{% set color='Black' %}
{% for four in fournisseurs %}
    {% if four.stocks|length>b %}
    {% set b = four.stocks|length  %}
    {% endif %}
{% endfor %}
{% block body %}

    <div class="container-fluid">
{% for four in fournisseurs %}
    <div class="col-xl-3 col-lg-6" style="display: inline-block;margin: 10px;">
    <div class="card card-stats mb-4 mb-xl-0">
<div class="card-body">
    <div class="row">
        <div class="col">
            <h5 class="card-title text-uppercase text-muted mb-0">{{ four.nom }}</h5>
            {% if four.stocks|length>5  %}
            {% set color='Green' %}
            {% elseif four.stocks|length>3 %}
                {% set color='Orange' %}
                {% else %}
                    {% set color='Red' %}
                    {% endif %}
            <span class="h2 font-weight-bold mb-0" style="background-color: {{ color }};"></span>
        </div>
        <div class="col-auto">
            <div class="icon icon-shape text-white rounded-circle shadow" style="background-color: {{ color }}">
                <i class="fas fa-chart-bar" ></i>
            </div>
        </div>
    </div>
    <p class="mt-3 mb-0 text-muted text-sm">
        <span class="text-success mr-2">
            {% if four.stocks|length == b %}
            <i class="fa fa-star"></i>
            {% elseif four.stocks|length > 5 %}
                <i class="fa fa-arrow-up"></i>
                {% else %}
                <i class="fa fa-arrow-down"></i>
                {% endif %}
            {{ four.stocks|length }}</span>
    </p>
</div>
    </div>
    </div>
{% endfor %}
    </div>
{% endblock %}